# IntelliJ project files
.idea
*.iws
*.iml
*.ipr

# Maven template
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
