<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/> <!--lesson 6 import file with simple values-->

    <bean id="testBean" class="ru.shininghills.TestBean"> <!--lesson 2-->
        <constructor-arg value="Mike"/>
    </bean>

    <bean id="classicalMusicBean" class="ru.shininghills.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic"/> <!--lesson 4--> <!--lesson 8 added init and destroy methods  -->

    <bean id="rapMusicBean" class="ru.shininghills.RapMusic"/>

    <bean id="rockMusicBean" class="ru.shininghills.RockMusic"/>

    <bean id="musicPlayer" class="ru.shininghills.ru.project.MusicPlayer"
          scope="singleton"
          init-method="initialize"
          destroy-method="destroy"> <!--lesson 5--> <!--lesson 7--> <!--lesson 8-->
        <!--<constructor-arg ref="classicalMusicBean"/>--> <!--lesson 5 adding link to object(bean) through constructor-->
        <property name="music" ref="classicalMusicBean"/> <!--lesson 6-->
        <!--<property name="name" value="Allah"/>--> <!--lesson 6 adding value manually-->
        <!--<property name="volume" value="100"/>--> <!--lesson 6 adding value manually-->
        <property name="name" value="${musicPlayer.name}"/> <!--lesson 6 adding value from outer resource-->
        <property name="volume" value="${musicPlayer.volume}"/> <!--lesson 6 adding value from outer resource-->
        <property name="musicList"> <!--lesson 6 filling list-->
            <list>
                <ref bean="classicalMusicBean"/>
                <ref bean="rockMusicBean"/>
                <ref bean="rapMusicBean"/>
            </list>
        </property>
    </bean>
</beans>